<!-- Main Toolbar of an App -->

<mat-toolbar color="primary">
  <span class="demo-toolbar"></span>
</mat-toolbar>

<!-- Card container that binds all together -->
<mat-card>
  <!-- Title of an Card -->
  <mat-card-title>
    <h2>Fill in the following form <br> to make your withdrawal</h2>
  </mat-card-title>

  <!-- Actual content starts from here -->
  <mat-card-content>
    <a routerLink="/withdrawal-editor">
    <form [formGroup]="createUser" (ngSubmit)="onSubmit (createUser.value)">
      <table>
        <tr>
          <td>
            <mat-form-field class="demo-full-width">
              <input formControlName="firstName" matInput placeholder="First Name">
            </mat-form-field>
            <mat-error>
              <span *ngIf="!createUser.get('Firstname').valid && createUser.get('FirstName').touched">Please enter First Name !!!</span>
            </mat-error>
          </td>
          <td>
            <mat-form-field class="demo-full-width">
              <input formControlName="lastName" matInput placeholder="Last Name">
            </mat-form-field>
            <mat-error>
              <span *ngIf="!createUser.get('LastName').valid && createUser.get('LastName').touched">Please enter Last Name</span>
            </mat-error>
          </td>
        </tr>
        <tr>
          <td colspan="2">
            <mat-form-field class="demo-full-width">
              <input formControlName="idNumber" matInput placeholder="idNumber">
            </mat-form-field>
            <mat-error>
              <span *ngIf="!createUser.get('idNumber').valid && createUser.get('idNumber').touched">Please enter proper ID number</span>
            </mat-error>
          </td>
        </tr>

        <tr>
          <td colspan="2">
            <mat-form-field class="demo-full-width">
              <input formControlName="email" matInput placeholder="Email">
              <mat-error>
                <span *ngIf="!createUser.get('Email').valid && createUser.get('Email').touched">Please try again use like : demo@demo.com</span>
              </mat-error>
            </mat-form-field>
          </td>
        </tr>
        <tr>
          <td colspan="2">
            <mat-form-field class="demo-full-width">
              <input formControlName="amountToWithdraw" type="number" step="50" value="50" matInput placeholder="Amount To Withdraw">
            </mat-form-field>
            <mat-error>
              <span *ngIf="!createUser.get('AmountToWithdraw').valid && createUser.get('AmountToWithdraw').touched">Amount is required</span>
            </mat-error>
          </td>
        </tr>
        <tr>
          <td>
            <mat-slide-toggle formControlName="isAccepted" (change)="onChange($event)">Accept Terms & Conditions</mat-slide-toggle>
          </td>
          <td class="content-center">
            <a routerLink="/message" class="btn btn-link">
            <button mat-raised-button color="accent" type= 'submit' [disabled]="!user.valid || isAccepted ===  true ">Submit</button>
            </a>
          </td>
        <tr>
          <td>
          </td>
          <td>
            <p></p>
          </td>
        </tr>
      </table>
    </form>
    </a>
  </mat-card-content>
</mat-card>
